/* Here we can set styles for this lab page that we don't want to affect other pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #ea8ab0;
  background-color: #ffc0da;
}

body {
  background-image: linear-gradient(#d9ffd0, #7fd06f);
  font-family: Monospace, cursive;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: #2c254f;
  font-size: 36px;
  text-align: center;
  text-decoration: underline;
}

h2 {
  font-family: "Times New Roman", Times, serif;
}

h3 {
  font-family: Monospace, cursive;
  font-weight: bold;
}

p {
  color: #280419;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

p:hover {
  color: rgb(233, 185, 255);
  font-weight: bold;
}